@font-face {
    font-family: "Open Sans Condensed Bold";
    src: url("assets/fonts/OpenSans-CondBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MADE TOMMY Bold";
    src: url("assets/fonts/MADE-TOMMY-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.redBG{
    background-color: #D21242;
}

.blackBG {
    background-color: #28292F;
}

.whiteBG {
    background-color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    font-family: "Open Sans Condensed Bold";
}

button:hover, .logos img:hover{
    cursor: pointer;
}

h1, h2, h3 {
    font-family: "Open Sans Condensed Bold";
    font-weight: 300;
    text-align: center;
}

/* SECTION HEADER + COMPTE A REBOURS */

.header {
    background-image: url('assets/photo_aeroport_rq.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 3vw;
}

.AO {
    width: 9vw;
}

.logos {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 0px;
}

.logos img {
    width: 5vw;
    margin: 0.5vw;
}

.page-title {
    text-align: center;
    margin: 3.7vw auto;
}

.page-title img {
    width: 40vw;
}

.decollage {
    text-align: center;
    width: 40vw;
    margin: 11.5vw auto 10vw;
    padding-bottom: 0.5vw;
}


.decollage h4, .decollage p {

    color: #D21242;
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 2vw;
}

.decollage p {
    color: white;
    font-size: 0.8vw;
}

#countdown {
    display: flex;
    flex-direction: row;
}

.jours, .heures, .minute, .secondes {
    margin: 0.5vw 1vw;
}

#days, #hours, #minutes, #seconds {
    background-color: white;
    width: 8vw;
    height: 8vw;
    margin: 0.5vw auto 0.5vw;
    font-family: "MADE TOMMY Bold";
    font-size: 6vw;
}

/* DISCIPLINES */

.disciplines-title {
    width: 15vw;
    padding: 1vw;
    margin: 0 auto;
}
.disciplines-title h3 {
    color: white;
    font-size: 2.5vw;
}
.disciplines {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.disciplines div {
    width: 23vw;
    padding: 2vw 2vw 3vw;
    margin: 2% 3%;
}

.disciplines h2 {
    font-size: 3vw;
    text-align: left;
}

.disciplines p {
    font-size: 1vw;
    margin: 1vw 0 0 0;
    color: #737373;
}

/* BOUTON INSCRIPTION */

.bouton-inscription{
    padding: 6vw;
    text-align: center;
}

.bouton-inscription img {
    position: absolute;
    left: 26vw;
    width: 15vw;
}

.bouton-inscription button {
    padding: 1vw;
    border-radius: 33px;
    width: 11vw;
    font-size : 1.5vw;
    color: white;
    background-color: #D21242;
    border: none;
    margin-top: 2vw;
}

/* INFOS PRATIQUES ET ACCES */

.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3vw 3vw 6vw;
}

.infos h3 {
    margin: 3vw 0 2vw;
    font-size : 1.5vw;
    color: #D21242;
}

.infos div {
    margin: 0 auto;
    width: 28vw;
}

table {
    margin-left: 0.9vw;
    text-align: right;
    width: 76%;
    border-collapse: collapse;
}

td {
    padding-bottom: 0.3vh;
    vertical-align: middle;
}

.icone img {
    width: 1.1vw;
    padding-right: 1.5vw;
}

.route, .duree {
    font-weight: 900;
    font-size: 0.95vw;
}

.route {
    text-align: left;
}

.duree {
    color: #318E4E;
}

.distance {
    font-size: 0.95vw;
    color:#585858;
}

.infos p {
    margin: 1vw;
    font-size: 1vw;
    font-weight: 300;
}

.infos img {
    max-width: 100%;
}

iframe {
    border: solid 2px black;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/* VIGNETTES */

.vignettes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7vw;
}

.vignettes div {
    width: 22vw;
    border-radius: 0 0px 10px 10px;
}

.vignettes img {
    max-width: 100%;
}

.vignettes p {
    font-family: "Open Sans Condensed Bold";
    font-size: 1.25vw;
    padding: 0.5vw 1vw;
    text-transform: uppercase;
}

.vignettes a {
    color: black;
}

/* PARTENAIRES */

.partenaires, .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-row img {
    height: 8vw;
    margin: 1vw 2vw;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 1vw;
}

.flex-column img {
    max-width: 95%;
    max-height: 95%;
}

/* FORMULAIRE  */

.overlay1, .overlay2, .overlay3 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 70%);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
}
  
.popup {
    position: relative;
    border-radius: 5px;
    margin: 2% auto;
}

.inscription{
    width: 40vw;
    height: 90vh;
}

.formulaire {
    width: 40vw;
    padding: 5% 3%;
    /* display: grid;
    grid-template-areas: 
    "input input input input"
    "checkbox checkbox image image"
    "button button button button"; */
}

.input{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 1vw;
    /* grid-area: input; */
    margin-bottom: 4%;
}


label{
    font-size: 16px;
    margin-left: 11px;
    padding-bottom: 2px;
    color: white;

.prenom-age {
    display: flex;
    flex-direction: row;
    width: 90.5%;
    padding: 0vw 3.6vw 0vw 0vw;
}

.text, .age {
    margin: 0.5vw;
    width: 88%;
    box-sizing: border-box;
    padding: 0.8vw;
    font-size: 1.1vw;
    border: solid black 1px;

}

.age {
    margin-right: 0.5vw;
    width: 30%;
}

ul, #titre{
    list-style-type: none;
    text-align: center;
}

input[type="checkbox"]{
    width: 2vw;
    height: 2vw;
    outline: solid black 1px;
}

.checkbox-img {
    margin-left: 2vw;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.image {
    grid-area: image;
    width: 40%;
}

.checkbox div{
    display: flex;
    align-items: center;
    margin: 1vw;
}

label{
    font-size: 1vw;
    margin-left: 1vw;
    padding-bottom: 2px;
    color: white;
}

.automail, .CGU {
    margin-bottom: 5vw;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: button;
    margin-top: 2vw;
    padding-left: 2vw;
    padding-right: 4vw;
}

.button button{
    width: 30%;
    background-color: white;
    font-size: 1.2vw;
    padding: 1vw;
    border: solid black 1px;
}

.ok-goodbye{
    position: relative;
    border-radius: 5px;
    margin: 15% auto;
    width: 40vw;
    padding: 5vw;
    font-size: 2vw;
    color: white;
    text-align: center;
}

.ok-goodbye a {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2vw;
    font-weight: bold;
}

.ok-goodbye a:hover {
    cursor: pointer;
    text-decoration: none;
}

.ok-goodbye img {
    width: 20%;
    position: absolute;
    bottom: 20px;
    right: 20px;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4vw 5vw 2vw 15vw;
}

footer div {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    font-size: 1vw;
}

footer img {
    padding-left: 5vw;
    width: 20%;
}

/* FLIPCLOCK */

